<html>
<head>
    <title>New app</title>
</head>
{% load static %}
<style>
    body {
        background-image: url("{% static '/image/Mercedes.jpg' %}");
    }
</style>
<body>
    <h2>Welcome To My site</h2>
    <form>
    
        <p>
            <label>Username : <input type='text' /></label>
        </p>
    
        <p>
            <label>Password : <input type='password' /></label>
        </p>
    
        <p>
            <button type='submit'>Submit</button>
        </p>
    
    </form>
</body>
</html>